.color{
    color: darkgreen;
}
body{
    width:2000px; 
    height:px;  
    background: linear-gradient(#e66465, #9198e5);

  
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;


}