.position{
    width: 100px;
    height: 50px;
    background-color: aqua;
    border-bottom: 4px solid black;
}
.static{
    position: static;
}
.relative{
    position: relative;
    background-color: teal;
    top: 10px;
    left: 20px;
}